.pytest_cache
__pycache__
.env
/backend/bin
/backend/include
backend/Examples.md
/backend/lib
backend/orig_main.py
backend/PULL_REQUEST.md
backend/pyvenv.cfg
/.venv
backend/.coverage
backend/coverage.xml
backend/coverage.xml
backend/coverage.xml
backend/.coverage
lastpt.md
pr.md
backend/.coverage
backend/coverage.xml
/backend/.venv
backend/coverage.xml
backend/.coverage
backend/.coverage
